{{ 'main-faq.css' | asset_url | stylesheet_tag }}

<section class="faq-main page-width">
  <div>
    <h3>FAQ</h3>
    <ul id="faq-cat">
      {% for block in section.blocks %}
        <li onclick="handleFaqItemClick(this)">
          {{ block.settings.title }}
        </li>
      {% endfor %}

    </ul>
  </div>

  <div id="faq-block">
    {% for block in section.blocks %}
        <ul class="faq-q">
          <div onclick="handleFaqItemClick(this)">
            {{ block.settings.title }}
          </div>
          {% assign setting_array = block.settings | json_parse %}
          {% for i in setting_array offset: 1 %}
            {% if block.settings[i] != ":" %}
              {% assign item = block.settings[i] | split: ': ' %}
              <li>
                <div class="faq-q-item" onclick="handleFaqQClick(this)">
                  {{ item[0] }}
                  <svg aria-hidden="true" focusable="false" class="icon icon-caret faq-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                      <path d="M6.01498 7.69991L12.0119 1.69687L10.6112 0.297584L6.01356 4.89991L1.41123 0.302243L0.0119408 1.70295L6.01498 7.69991Z" fill="black"></path>
                  </svg>
                </div>
                <div class="faq-ans">
                  <p>
                    {{ item[1] }}
                  </p>
                </div>
              </li>  
            {% endif %}
          {% endfor %}
        </ul>
    {% endfor %}
  </div>
</section>

<script src="{{ 'main-faq.js' | asset_url }}"></script>

{% schema %}
  {
    "name": "faq-main",
    "presets": [
      {
        "name": "faq-main"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "category",
        "limit": 6,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "q1",
            "default": ":",
            "label": "Q1: Answer"
          },
          {
            "type": "text",
            "id": "q2",
            "default": ":",
            "label": "Q2: Answer"
          },
          {
            "type": "text",
            "id": "q3",
            "default": ":",
            "label": "Q3: Answer"
          }, {
            "type": "text",
            "id": "q4",
            "default": ":",
            "label": "Q4: Answer"
          }, {
            "type": "text",
            "id": "q5",
            "default": ":",
            "label": "Q5: Answer"
          }, {
            "type": "text",
            "id": "q6",
            "default": ":",
            "label": "Q6: Answer"
          }
        ]
      }
    ]
  }
{% endschema %}